h1.title {
  font-size: 300%;
  position: fixed;
  top: 20px;
  left: 300px;
}

ul.menu {
  position: fixed;
  top: 100px;
  left: 280px;
}
/*
ul {
  display: flex;
  list-style-type: none;
}
ul li {
  background: #ADA6F2;
  padding: 10px;
  border: solid 2px white;
  margin-right: 10px;
}
ul li a {
  color: white;
  text-decoration: none;
  max-width: 0px;
}
ul li a:hover {
  background: white;
  color: #ADA6F2;
  padding: 10px;
  border: solid 2px #ADA6F2;
}
a {
  text-decoration: none;
}
a:hover {
  border: #47CEA5;
  color: #ADA6F2;
}
*/
article.headtext {
  border: 1px solid black;
  padding: 10px;
  width: 700px;
  height: 200px;
  text-align: justify;
  position: fixed;
  top: 300px;
  left: 300px;
}

article.news {
  border: 1px solid black;
  padding: 10px;
  width: 200px;
  height: 250px;
  text-align: justify;
  position: fixed;
  top: 300px;
  right: 30px;
}

article.calendar {
  text-align: justify;
  border: 1px solid black;
  padding: 10px;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 600px;
  right: 30px;
}

footer.footer {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  width: 1820px;
  height: 150px;
  position: fixed;
  bottom: 10px;
}
